[submodule "lib/pkp"]
	path = lib/pkp
	url = git@github.com:uofr/pkp-lib.git
[submodule "plugins/importexport/duracloud/lib/DuraCloud-PHP"]
	path = plugins/importexport/duracloud/lib/DuraCloud-PHP
	url = git@github.com:asmecher/DuraCloud-PHP
